.navbar {
    border-bottom: 0.5px solid rgb(231, 228, 228);

    width: 100%;

    h1 {
        font-size: 24px;
        color: gray;
    }

}


@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    .navbar {
        h1 {
            font-size: 20px;
            text-align: left;
        }
    }
}